<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
  <header>
    <img src="./assets/target.png" alt="Website Logo">
    <h1>RightHire.com</h1>
    <nav>
      <ul>
        <li><a href="#aboutus">About Us</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#resources">Resources</a></li>
        <li><a href="#loginregister">Login/Register</a></li>
      </ul>
    </nav>
  </header>

  <!-- The rest of your website content goes here -->
  <img src="./assets/background.jpg"/>

</body>
</html>
